* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    border: 1px solid #000;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1fr 100px;
    grid-auto-rows: 100px;
    grid-template-areas:
        "maker maker maker maker"
        "list list list list"
        "count filter filter  btn"
    ;
}


[class*=item] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    grid-area: maker;
    grid-column: 2/4;
    background: aqua;
}

.item2 {
    /* grid-column: ; */
    grid-area: list;
    grid-row: 2/1 span;
    background: greenyellow;
}

.item3 {
    /* grid-column: ; */
    grid-area: count;
    background: yellow;
}

.item4 {
    /* grid-column: ; */
    grid-area: btn;
    background: orange;
}

.item5 {
    /* grid-column: ; */
    grid-area: filter;
    background: pink;
}